html, body{
    padding: 0;
    margin: 0;
    background-color: rgb(105, 121, 121);
}
body{
    font-family: sans-serif;
}
.hero {
    background-color: #2d6ca7;
    color: white;
    padding: 50px 30px;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}
.hero:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    /* background-color: green; */
    background: linear-gradient(to left, purple, green);
}
.hero:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    /* background-color: green; */
    background: linear-gradient(to right, purple, green);
}

.hero h1{
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
}
.hero h2{
    font-weight: normal;
    font-size: 1.7rem;
    margin: 0;
}

.filter-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.filter-nav a{
    text-decoration: none;
    padding: 9px;
    color: purple;
    border: 1px solid blue;
    border-radius: 4px;
    margin: 4px;
}
.filter-nav a:hover{
    background-color: rgb(173, 126, 173);
    color: white;
}

.filter-nav .active{
    background-color: purple;
    color: white;
}

.filter-nav .active:hover{
    background-color: purple;
    cursor: default;
}

.animals{
    max-width: 700px;
    margin: 0 auto;
}

.animal-card{
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
}

.animal-card-text{
    padding: 20px 25px;
}

.animal-card-text h3{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.8rem;
}

.animal-card-text small{
    color: grey;
}

.animal-card-text p{
    margin: .8 rem 0;
    padding: 0;
    line-height: 1.5;
}